# dependencies
node_modules/
.yarn/

# production
build/
public/

# ide
.vscode/

# external docs
src/app/main/documentation/material-ui-components/components/*
src/app/main/documentation/material-ui-components/pages/*
src/app/main/documentation/material-ui-components/build.js
src/app/main/documentation/third-party-components/*/examples/*
